@import "~src/app/variables.scss";

.reviews {

  .review-card {
    display: inline-block;
    width: 44%;
    vertical-align: top;
    margin-bottom: 40px;

    &:nth-child(odd) {
      margin-right: 40px;
    }
  }

}

