@import "~src/app/variables.scss";

header {
  background: $primary-color;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  .logo {
    width: 150px;
  }
}

h1 {
  text-align: center;
}

.change-reviews {
  margin: 40px auto;
  text-align: center;
}

.toggle-reviews-button {
  @include _480 {
    flex-direction: column;
    width: 100%;
  }
}

.mat-button-toggle {
  @include _480 {
    border-bottom: solid 1px rgba(0,0,0,.12);
  }
}
