<div class="container">
  <form onsubmit="return false" id="form_id">
    <mat-form-field>
      <input matInput placeholder="Ваше имя" [formControl]="nameValid" type="text" id="reviewer_name"
             class="form-control"
             [(ngModel)]="single_review.reviewer_name" required>

      <mat-error class="error" *ngIf="nameValid.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
    <textarea matInput placeholder="Отзыв" [formControl]="messageValid" type="text" id="message" class="md-textarea"
              [(ngModel)]="single_review.message"
              required></textarea>
      <mat-error class="error" *ngIf="messageValid.invalid">{{getErrorMessageReview()}}</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="send()" type="submit"
            class="btn btn-info waves-light menu-close">Отправить
    </button>
  </form>

  <div class="reviews">
    <mat-card id="reviews" class="review-card" *ngFor="let single_review of review_data">
      <div class="buttons">
        <p class="name_of_reviewer">{{single_review.reviewer_name}}</p>
        <button mat-icon-button color="primary" (click)="onSelect(single_review)" class="edit-review">
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(single_review.id)" class="delete-review">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      {{single_review.message}}

    </mat-card>
    <br>
  </div>
</div>



