<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="send()" id="form_id">
    <mat-form-field>
      <input matInput placeholder="Ваше имя" type="text" id="reviewer_name"
             class="form-control" [(ngModel)]="single_review.reviewer_name" formControlName="reviewer_name"
             [ngClass]="{ 'is-invalid': submitted && formControls.reviewer_name.errors }">

      <mat-error *ngIf="submitted && formControls.reviewer_name.errors"
        class="text-danger">
        <div *ngIf="formControls.reviewer_name.errors.required">Введите имя</div>
        <div *ngIf="formControls.reviewer_name.errors.minlength">Имя должно содержать больше одного символа</div>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
    <textarea matInput placeholder="Отзыв" formControlName="message" type="text" id="message" class="md-textarea"
              [ngClass]="{ 'is-invalid': submitted && formControls.message.errors }"
              [(ngModel)]="single_review.message"
    ></textarea>

      <mat-error *ngIf="submitted && formControls.message.errors" class="text-danger">
        <div *ngIf="formControls.message.errors.required">Введите отзыв</div>
        <div *ngIf="formControls.reviewer_name.errors.minlength">Отзыв должен содержать больше тридцати символов</div>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"
            class="btn btn-info waves-light menu-close">Отправить
    </button>

  </form>

  <div class="reviews">
    <mat-card id="reviews" class="review-card" *ngFor="let single_review of review_data">
      <div class="buttons">
        <p class="name_of_reviewer">{{single_review.reviewer_name}}</p>
        <button mat-icon-button color="primary" (click)="onSelect(single_review)" class="edit-review">
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(single_review.id)" class="delete-review">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
      {{single_review.message}}

    </mat-card>
    <br>
  </div>
</div>



